* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  font-size: 16px;
}

.App {
  text-align: center;
  width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.NewTask label {
  display: flex;
}

input[type="text"] {
  width: 100%;
  border: none;
  border-bottom: thin dashed black;
  font-weight: bold;
}

.TaskList .controls {
  display: flex;
}

.TaskList .controls button {
  width: 100%;
  margin: 5px;
}

.Task {
  text-align: left;
  list-style: none;
  overflow: scroll;
  white-space: nowrap;
  min-height: 26px /* so edit input doesn't jostle */
}

.Task.completed {
  color: grey;
}

.Task .editing {
  margin-top: -4px; /* so edit input doesn't jostle on mobile */
  /*margin-top: -6px; /* so edit input doesn't jostle on desktop */
}

.icon {
  margin-right: 0px; /* so edit input doesn't jostle on mobile */
  /*margin-right: 2px; /* so edit input doesn't jostle on desktop */
}

.Task .details {
  margin-left: 5px;
}

.Task .title {
  font-weight: bold;
}

.Task .createdAt {
  font-style: italic;
  color: #DDD;
  margin-left: 5px;
}

.Task .completedAt {
  font-style: italic;
  color: #333;
  margin-left: 5px;
}
